.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
.DS_Store
*/.DS_Store
.Rbuildignore
.Rprofile

# Large Data & Inputs
*.vcf
*.vcf.gz
*.tbi
*.bam
*.bai

# Allow package test data
!inst/testdata/
!inst/extdata/
!inst/testdata/**
!inst/extdata/**

# Validation Outputs
*.csv
*.RDS
*.pdf
*.png

# Internal Development
local_dev/
.cursorrules

# Editor
.vscode/
/doc/
/Meta/
