.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*/.DS_Store
.Rbuildignore
.Rprofile
# .cursorrules


# Large Data & Inputs
# Large Data & Inputs
*.vcf
*.vcf.gz
*.tbi
*.bam
*.bai

# Validation Outputs
*.csv
*.RDS
*.pdf
*.png

